body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(50% - 50px);
}

.container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 20px 0 0 0;

}

li {

    align-items: center;
    text-align: center;
    justify-content: space-around;


}

li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;

}

li a:hover {
    color: black;
}

li:hover {
    background-color: bisque;
}

li a img {
    width: 70%;
    height: 80%;
    padding: 15px 90px 10px 60px;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    
    .recipe-container {
        flex-direction: column;
        width: 100%;
    }
    
    .container ul {
        flex-direction: column;
    }
    
    li a img {
        width: 70%;
        height: 100%;
        padding: 15px 90px 40px 60px;
    }
    
}